<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ycj.dao.AskerMapper">
  <resultMap type="asker" id="askerMap">
        <id property="Asker_ID" column="Asker_ID"/>
        <result property="Asker_Name" column="Asker_Name"/>
        <result property="Asker_Weight" column="Asker_Weight"/>
        <result property="staff.Staff_ID" column="Staff_ID" />
        <result property="staff.Staff_Name" column="Staff_Name" />       
  </resultMap>
     <select id="seleAskers" parameterType="fenYeYang" resultMap="askerMap">
     select ak.*,sta.*
         from asker ak,staff sta <where>
         ak.`Asker_Staff_ID`=sta.Staff_ID
         <if test="staff_Name !=null and staff_Name !=''">
         	and sta.Staff_Name like "%"#{staff_Name}"%"
         </if>
         <if test="zixunshiName !=null and zixunshiName !=''">
         	and ak.Asker_Name=#{zixunshiName}
         </if>
         </where>
		ORDER BY Asker_Weight DESC
 
         limit #{page},#{pageSize}
     </select>
     <select id="selectCount" parameterType="fenYeYang" resultType="int">
     select count(Asker_ID)
         from asker ak,staff sta
		<where>
         ak.`Asker_Staff_ID`=sta.Staff_ID
         <if test="staff_Name !=null and staff_Name !=''">
         	and sta.Staff_Name like "%"#{staff_Name}"%"
         </if>
         <if test="zixunshiName !=null and zixunshiName !=''">
         	and ak.Asker_Name=#{zixunshiName}
         </if>
         </where>
		ORDER BY Asker_Weight DESC
        
     </select>
     <select id="selectAskers" resultMap="askerMap" parameterType="asker">
         select ak.*,sta.Staff_Name from asker ak ,staff sta WHERE ak.Asker_Staff_ID=sta.Staff_ID
     </select>
     <update id="updateAsker" parameterType="asker">
       update asker 
       <set>
          <if test="staff.staff_ID !=null and staff.staff_ID!=''">
              staff_ID =#{staff.staff_ID},
          </if>
          <if test="staff.staff_ID !=null and staff.staff_ID!=''">
              staff_ID =#{staff.staff_ID},
          </if>
          <if test="staff.staff_ID !=null and staff.staff_ID!=''">
              staff_ID =#{staff.staff_ID},
          </if>
       </set>
     </update>
     <delete id="deleteAsker" parameterType="int"></delete>
     
     <!--YangChuanJin 添加  -->
     <insert id="insertAsker" parameterType="asker">
     	insert into asker(Asker_Name,Asker_Staff_ID,Asker_Weight)
     	value(#{Asker_Name},#{Asker_Staff_ID},#{Asker_Weight})
     </insert>
     
  </mapper>