<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ycj.dao.Cust_customerMapper">
  <resultMap type="cust_customer" id="cutMap">
     <id column="Cust_ID" property="Cust_ID"/>
     <result column="Cust_Name" property="Cust_Name"/>
     <result column="Cust_Age" property="Cust_Age"/>
     <result column="Cust_Gender" property="Cust_Gender"/>
     <result column="Cust_Telephone" property="Cust_Telephone"/>
     <result column="Cust_Education" property="Cust_Education"/>
     <result column="Cust_state" property="Cust_state"/>
     <result column="Cust_channel" property="Cust_channel"/>
     <result column="Cust_website" property="Cust_website"/>
     <result column="Cust_QQ" property="Cust_QQ"/>
     <result column="Cust_WeChat" property="Cust_WeChat"/>
     <result column="Cust_mailbox" property="Cust_mailbox"/>
     <result column="Cust_Creationtime" property="Cust_Creationtime"/>
     <result column="Cust_Course" property="Cust_Course"/>
     <result column="Cust_Scoring" property="Cust_Scoring"/>
     <result column="Cust_Revisit" property="Cust_Revisit"/>
     <result column="Cust_RevisitDays" property="Cust_RevisitDays"/>
     <result column="Cust_Door" property="Cust_Door"/>
     <result column="Cust_Doortime" property="Cust_Doortime"/>
     <result column="Cust_Pay" property="Cust_Pay"/>
     <result column="Cust_Paytime" property="Cust_Paytime"/>
     <result column="Cust_money" property="Cust_money"/>
     <result column="Cust_Refund" property="Cust_Refund"/>
     <result column="Cust_Refundreason" property="Cust_Refundreason"/>
     <result column="Cust_entry" property="Cust_entry"/>
     <result column="Cust_entrytime" property="Cust_entrytime"/>
     <result column="Cust_notes" property="Cust_notes"/>
     <result column="Cust_Region" property="Cust_Region"/>
     <result column="Cust_preparation" property="Cust_preparation"/>
     <result column="Cust_Asker_ID" property="Cust_Asker_ID"/>
     <result column="Cust_youxiao" property="Cust_youxiao"/>
     
     <association property="asker" javaType="com.ycj.entity.Asker">
     <result column="Asker_ID" property="Asker_ID"/>
     <result column="Asker_Name" property="Asker_Name"/>
     <result column="Asker_Staff_ID" property="Asker_Staff_ID"/>
     <result column="Asker_Weight" property="Asker_Weight"/>
  	</association>
  	<association property="staff" javaType="com.ycj.entity.Staff">
		 <result column="Staff_ID" property="Staff_ID"/>
		 <result column="Staff_Name" property="Staff_Name"/>
		 <result column="Staff_Password" property="Staff_Password"/>
	 </association>
    </resultMap>
  
   <select id="selectCust_customers" parameterType="cust_customer" resultMap="cutMap">
      select cut.*,cut.Cust_youxiao,ak.*,sta.* from (cust_customer cut INNER JOIN asker ak on cut.`Cust_Asker_ID`=ak.Asker_ID)
	  INNER JOIN staff sta on sta.Staff_ID = ak.Asker_Staff_ID
	  <where>
	  		<if test=" Cust_Name !='' and Cust_Name !=null ">
	  			and Cust_Name like "%"#{Cust_Name}"%"
	  		</if>
	  		<if test=" asker.asker_ID !='' and asker.asker_ID !=null ">
	  			and Cust_Asker_ID =#{asker.asker_ID}
	  		</if>
	  		<if test=" Cust_QQ !='' and Cust_QQ !=null ">
	  			and Cust_QQ =#{Cust_QQ}
	  		</if>
	  		<if test=" Cust_Telephone !='' and Cust_Telephone !=null ">
	  			and Cust_Telephone =#{Cust_Telephone}
	  		</if>
	  		<if test=" cust_Pay !=null ">
	  			and Cust_Pay =#{cust_Pay}
	  		</if>
	  		<if test="  cust_youxiao !=null ">
	  			and Cust_youxiao =#{cust_youxiao}
	  		</if>
	  		<if test=" cust_Revisit !=null ">
	  			and Cust_Revisit =#{cust_Revisit}
	  		</if>
	  		<!-- 客户创建的时间 -->
	  		<if test=" minCust_Creationtime !='' and minCust_Creationtime !=null ">
	  			and Cust_Creationtime &gt;=#{minCust_Creationtime}
	  		</if>
	  		<if test=" maxCust_Creationtime !='' and maxCust_Creationtime !=null">
	  			and Cust_Creationtime &lt;=#{maxCust_Creationtime}
	  		</if>
	  		<!--上门时间 -->
	  		<if test=" minCust_Doortime !='' and minCust_Doortime !=null ">
	  			and Cust_Doortime &gt;=#{minCust_Doortime}
	  		</if>
	  		<if test=" maxCust_Doortime !='' and maxCust_Doortime !=null ">
	  			and Cust_Doortime &lt;=#{maxCust_Doortime}
	  		</if>
	  		<!-- 回访时间 -->
	  		<if test=" minCust_RevisitDays !='' and minCust_RevisitDays !=null ">
	  			and Cust_RevisitDays &gt;=#{minCust_RevisitDays}
	  		</if>
	  		<if test=" maxCust_RevisitDays !='' and maxCust_RevisitDays !=null">
	  			and Cust_RevisitDays &lt;=#{maxCust_RevisitDays}
	  		</if>
	  		<!-- 缴费时间 -->
	  		<if test=" minCust_Paytime !='' and minCust_Paytime !=null ">
	  			and Cust_Paytime &gt;=#{minCust_Paytime}
	  		</if>
	  		<if test=" maxCust_Paytime !='' and maxCust_Paytime !=null">
	  			and Cust_Paytime &lt;=#{maxCust_Paytime}
	  		</if>
	  		<!-- 进班时间 -->
	  		<if test=" minCust_entrytime !='' and minCust_entrytime !=null ">
	  			and Cust_entrytime &gt;=#{minCust_entrytime}
	  		</if>
	  		<if test=" maxCust_entrytime !='' and maxCust_entrytime !=null">
	  			and Cust_entrytime &lt;=#{maxCust_entrytime}
	  		</if>
	  </where>
      limit #{page},#{rows}
   </select>
   <select id="selectCount" parameterType="cust_customer" resultType="int">
       select count(*) from (cust_customer cut INNER JOIN asker ak on cut.`Cust_Asker_ID`=ak.Asker_ID)
	  INNER JOIN staff sta on sta.Staff_ID = ak.`Asker_Staff_ID`
	  <where>
	  		<if test=" Cust_Name !='' and Cust_Name !=null ">
	  			and Cust_Name like "%"#{Cust_Name}"%"
	  		</if>
	  		<if test=" asker.asker_ID !='' and asker.asker_ID !=null ">
	  			and Cust_Asker_ID =#{asker.asker_ID}
	  		</if>
	  		<if test=" Cust_QQ !='' and Cust_QQ !=null ">
	  			and Cust_QQ =#{Cust_QQ}
	  		</if>
	  		<if test=" asker.asker_ID !='' and asker.asker_ID !=null ">
	  			and Cust_Asker_ID =#{asker.asker_ID}
	  		</if>
	  		<if test=" Cust_Telephone !='' and Cust_Telephone !=null ">
	  			and Cust_Telephone =#{Cust_Telephone}
	  		</if>
	  		<if test=" cust_Pay !=null ">
	  			and Cust_Pay =#{cust_Pay}
	  		</if>
	  		<if test=" cust_youxiao !=null ">
	  			and Cust_youxiao =#{cust_youxiao}
	  		</if>
	  		<if test=" cust_Revisit !=null ">
	  			and Cust_Revisit =#{cust_Revisit}
	  		</if>
	  		<!-- 客户创建的时间 -->
	  		<if test=" minCust_Creationtime !='' and minCust_Creationtime !=null ">
	  			and Cust_Creationtime &gt;=#{minCust_Creationtime}
	  		</if>
	  		<if test=" maxCust_Creationtime !='' and maxCust_Creationtime !=null">
	  			and Cust_Creationtime &lt;=#{maxCust_Creationtime}
	  		</if>
	  		<!--上门时间 -->
	  		<if test=" minCust_Doortime !='' and minCust_Doortime !=null ">
	  			and Cust_Doortime &gt;=#{minCust_Doortime}
	  		</if>
	  		<if test=" maxCust_Doortime !='' and maxCust_Doortime !=null ">
	  			and Cust_Doortime &lt;=#{maxCust_Doortime}
	  		</if>
	  		<!-- 回访时间 -->
	  		<if test=" minCust_RevisitDays !='' and minCust_RevisitDays !=null ">
	  			and Cust_RevisitDays &gt;=#{minCust_RevisitDays}
	  		</if>
	  		<if test=" maxCust_RevisitDays !='' and maxCust_RevisitDays !=null">
	  			and Cust_RevisitDays &lt;=#{maxCust_RevisitDays}
	  		</if>
	  		<!-- 缴费时间 -->
	  		<if test=" minCust_Paytime !='' and minCust_Paytime !=null ">
	  			and Cust_Paytime &gt;=#{minCust_Paytime}
	  		</if>
	  		<if test=" maxCust_Paytime !='' and maxCust_Paytime !=null">
	  			and Cust_Paytime &lt;=#{maxCust_Paytime}
	  		</if>
	  		<!-- 进班时间 -->
	  		<if test=" minCust_entrytime !='' and minCust_entrytime !=null ">
	  			and Cust_entrytime &gt;=#{minCust_entrytime}
	  		</if>
	  		<if test=" maxCust_entrytime !='' and maxCust_entrytime !=null">
	  			and Cust_entrytime &lt;=#{maxCust_entrytime}
	  		</if>
	  </where>
   </select>
   <select id="selectAskers" resultType="asker">
     select * from asker
   </select>
    
    <insert id="insertCust_customer" parameterType="cust_customer">
    	insert into cust_customer (Cust_Name,Cust_Gender,Cust_Age,Cust_QQ,Cust_WeChat,Cust_Telephone,Cust_Education,Cust_state,Cust_channel,Cust_website,Cust_laiyuanguanjianzi,Cust_preparation,Cust_zaixianbeizhu,Cust_Creationtime,Cust_Asker_ID) 
    	value(#{Cust_Name},#{Cust_Gender},#{Cust_Age},#{Cust_QQ},#{Cust_WeChat},#{Cust_Telephone},#{Cust_Education},#{Cust_state},#{Cust_channel},#{Cust_website},#{Cust_laiyuanguanjianzi},#{Cust_preparation},#{Cust_zaixianbeizhu},NOW(),#{cust_Asker_ID})
    </insert>
    
   <insert id="insertCommunicate_record" parameterType="communicate_record">
   		INSERT INTO communicate_record(Comm_ cust_ID,Comm_ Staff_ID,Comm_date,Comm_ way,comm_title,comm_detail,comm_nextdate) 
		VALUES(#{Comm_ cust_ID},#{Comm_ Staff_ID},#{Comm_date},#{Comm_ way},#{comm_title},#{comm_detail},#{comm_nextdate})
   </insert>
  </mapper>