<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ycj.dao.ModulesMapper">
  	<select id="selectMuesTree" parameterType="int" resultType="modules">
  		SELECT
			m.* 
		FROM
			staff s
			INNER JOIN staffroles sr
			INNER JOIN roles r
			INNER JOIN rolemodules rm
			INNER JOIN modules m ON s.Staff_ID = sr.SR_StaffID 
			AND sr.SR_RolesID = r.RolesId 
			AND r.RolesId = rm.`RM_RolesID` 
			AND rm.RM_ModulesID = m.Modules_ID 
		WHERE
			s.Staff_ID =#{staffid}
  	</select>
  	
  	<select id="selectmoduct" parameterType="int" resultType="modules">
  		SELECT
			m.* 
		FROM
			staff s
			INNER JOIN staffroles sr
			INNER JOIN roles r
			INNER JOIN rolemodules rm
			INNER JOIN modules m 
			ON s.Staff_ID = sr.SR_StaffID 
			AND sr.SR_RolesID = r.RolesId 
			AND r.RolesId = rm.`RM_RolesID` 
			AND rm.RM_ModulesID = m.Modules_ID 
		WHERE
			s.Staff_ID =#{staffid} 
  	</select>
  	<!-- 查询所有模块 -->
  	<select id="selectModulesTree" resultType="modules">
  		select * from modules
  	</select>
  	<!-- 添加 -->
  	<insert id="insertModulesYang" parameterType="modules">
  		insert into modules(Modules_Name,Modules_ParentId,Modules_Path,Modules_Weight) 
  		value(#{Modules_Name},#{Modules_ParentId},#{Modules_Path},#{Modules_Weight})
  	</insert>
  	<!-- 删除 -->
  	<delete id="deleteModulesYang" parameterType="int">
  		delete from modules where Modules_ID=#{Modules_ID}
  	</delete>
  	<!-- 修改 -->
  	<update id="updateModulesYang" parameterType="modules">
  		update modules <set>
  			<if test="Modules_Name != null and Modules_Name!=''">
  				Modules_Name=#{Modules_Name},
  			</if>
  			<if test="Modules_Path != null and Modules_Path !=''">
  				Modules_Path=#{Modules_Path}
  			</if>
  			<if test="Modules_Weight != null and Modules_Weight !=''">
  				Modules_Weight=#{Modules_Weight}
  			</if>
  		</set>
  		where Modules_ID=#{Modules_ID}
  	</update>
  	<!-- 根据id进行查询一条数据 -->
  	<select id="selectModulesAndmodulesidYang" parameterType="int" resultType="modules">
  		select * from modules where Modules_ID=#{modulesId}
  	</select>
  	
  	<select id="selectModulesRolesYang" parameterType="int" resultType="modules">
  		SELECT
			m.* 
		FROM
			roles r
			INNER JOIN rolemodules rm
			INNER JOIN modules m ON rm.RM_ModulesID = m.Modules_ID 
			AND r.RolesId = rm.RM_RolesID 
		WHERE
			r.RolesId =#{rolesId}
  	</select>
  	
  	
  </mapper>