<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ycj.dao.RolesMapper">
  <!-- 分页带条件查询所有 -->
  <select id="selectByRolesAll" parameterType="fenYeYang" resultType="roles">
  	select * from roles
  		<where>
  			<if test="rolesName !=null and rolesName !=''">
  				RolesName like "%"#{rolesName}"%"
  			</if>
  		</where>
  	 limit #{page},#{pageSize}
  </select>
  <!-- 查询总条数 -->
  <select id="selectByRolesCount" parameterType="fenYeYang" resultType="int">
  	select count(*) from roles
  	<where>
  		<if test="rolesName !=null and rolesName !=''">
  			RolesName like "%"#{rolesName}"%"
  		</if>
  	</where>
  </select>
  <!-- 添加 -->
  <insert id="insertByRolesYang" parameterType="roles">
  	insert into roles(RolesName) value(#{rolesName})
  </insert>
  <!-- 删除 -->
  <delete id="deleteRolesYang" parameterType="int">
  	delete from roles where RolesId=#{RolesId}
  </delete>
  <!--杨传锦    查询这个角色是否有用户在使用这个角色  -->
  <select id="selectRolesStaffYang" parameterType="int" resultType="int">
  	SELECT COUNT(*) FROM staffroles WHERE SR_RolesID=#{RolesId}
  </select>
  <!--杨传锦   删除用户与角色中间表的数据  -->
  <delete id="delectStaffRolesYang" parameterType="int">
  	delete from staffroles where SR_RolesID=#{RolesId}
  </delete>
  <update id="updateRolesYang" parameterType="roles">
  	update roles <set>
  		<if test="RolesName !=null and RolesName !=''">
  			RolesName=#{RolesName}
  		</if>
  	</set>
  	where RolesId=#{RolesId}
  </update>
  <!--杨传锦    查询所有角色 -->
  <select id="selectStaffRolesYang" resultType="roles">
  	select * from roles
  </select>
  <!-- 查询一个用户下的所有角色 -->
  <select id="seleseStaffRolesRolesIdYang" parameterType="int" resultType="roles">
  	SELECT
		r.* 
	FROM
		staff s
		INNER JOIN staffroles sr
		INNER JOIN roles r ON s.Staff_ID = sr.SR_StaffID 
		AND sr.SR_RolesID = r.RolesId 
	WHERE
		s.Staff_ID =#{StaffId}
  </select>
  </mapper>