<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ycj.dao.UsersMapper">
  <!--  映射-->
  	<resultMap type="Roles" id="RolesMap">
  		<id column="RolesId" property="RolesId"/>
  		<result column="RolesName" property="RolesName"/>
  	</resultMap>
  	 <resultMap type="users" id="usersmap">
  		<id column="UsersID" property="UsersID"/>
  		<result column="LoginName" property="LoginName"/>
  		<result column="Passwords" property="Passwords"/>
  		<result column="IsLockout" property="IsLockout"/>
  		<result column="LastLoginTime" property="LastLoginTime"/>
  		<result column="PsdWrongTime" property="PsdWrongTime"/>
  		<result column="LockTime" property="LockTime"/>
  		<result column="ProtectEMail" property="ProtectEMail"/>
  		<result column="ProtectMtel" property="ProtectMtel"/>
  		<collection property="roles" resultMap="RolesMap"></collection>
  		<!-- <collection property="roles" ofType="Roles">
  			<id column="RolesId" property="RolesId"/>
  			<result column="RolesName" property="RolesName"/>
  		</collection> -->
  	</resultMap> 
  	<!-- 登录查询操作 -->
  	<select id="selectByCheckUsers" parameterType="users" resultMap="usersmap">
  		 SELECT
  			u.UsersID,
			u.LoginName,
			u.Passwords,
			r.RolesName
		FROM
			users u
			INNER JOIN userroles ur ON u.UsersID = ur.UserID
			INNER JOIN roles r ON r.RolesId = ur.RoleID 
		WHERE
			u.LoginName = #{LoginName}
			AND u.Passwords = #{Passwords}
			
			<!-- SELECT * FROM users WHERE
			LoginName = #{LoginName}
			AND Passwords = #{Passwords} -->
  	</select>
  </mapper>